@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h3 class="">Bar Char</h3>
        <canvas id="barChart" width="200" height="110" style="width:197px; height:110px;"></canvas>
    </div>
    <div class="col-6">
        <h3 class="">Pie Char</h3>
        <canvas id="pieChart" width="100" height="110" style="width:100px; height:110px;"></canvas>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h3 class="">My Char</h3>
        <canvas id="barChart" width="100" height="110" style="width:100px; height:110px;"></canvas>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "/Orders/GetToTalOrders",
                data: "",
                contentType: "application/json; charset=utf8",
                dataType: "json",
                success: OnSuccess,
            });

            function OnSuccess(data) {
                const barChart = document.getElementById('barChart');
                const pieChart = document.getElementById('pieChart');

                var _data = data;
                var _labels = _data[0];
                var _ChartData = _data[1];
                var backColor = [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ];
                var borColor = [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ];

            new Chart(barChart, {
                    type: 'bar',
                    data: {
                        labels: _labels,
                        datasets: [{
                        backgroundColor: backColor,
                        borderColor: borColor,
                            data: _ChartData,
                            borderWidth: 1,
                        }]
                    }
                });

            new Chart(pieChart, {
                    type: 'pie',
                data: {
                        labels: _labels,
                    datasets: [{
                        backgroundColor: backColor,
                        borderColor: borColor,
                        data: _ChartData,
                        borderWidth: 1,
                    }]
                }
            });
            }
    });
    </script>

